<hr style="background:#ff9900; border:0; height:10px" />
<h3 align="center">All galleries</h3>
<hr style="background:#ff9900; border:0; height:10px" />


<table class='table'>
   
    <thead>
  
    </thead>

    <tbody>

      <tr *ngFor="let gallery of galleries | slice: 0 : pageLimit" [galleryRow]='gallery'>
      </tr>

      <div *ngIf="!galleries"> There is no galleries in database </div>

    </tbody>
  </table>

  <div>
      <button class="btn btn-success btn-lg" [hidden]="!hasMoreItems" (click)="showMoreItems()">Load more</button>
  </div>

  <router-outlet></router-outlet>